// Contribute overlay

.contribute-button
  cursor: pointer

.contribute
  background: $gradient-purple
  color: white
  display: flex
  align-items: center
  justify-content: center

  .container
    max-width: 500px
    margin: 0 20px
    padding: 20px
    height: auto
    border: 3px solid white
    border-radius: 2px
    text-align: center

    h1
      margin-bottom: 20px
      font-size: 30px
      font-weight: $font-weight-bold

    & :last-child
      margin-bottom: 0

.contribute-links a
  display: block
  margin-bottom: 10px
  padding: 10px
  padding-left: 45px
  background: black(.2) no-repeat 10px center
  background-size: auto 25px
  text-align: left
  text-decoration: none !important
  
  &:hover
    background-color: black(.3)

  &.twitter
    background-image: url('/social-twitter.svg')
    background-size: auto 20px
  &.github
    background-image: url('/social-github.svg')
  &.coffee
    margin-top: 10px
    background-image: url('/coffee.svg')
    background-position-x: 14px

@media screen and (max-height: 470px)

  .contribute
    padding: 20px
    display: block

    .container
      margin: 30px auto 0
