// Contribute page

.contribute-button
  cursor: pointer

.contribute
  background: linear-gradient(20deg, $brand-purple-light, $brand-blue)
  color: white
  display: flex
  align-items: center
  justify-content: center

  .container
    max-width: 500px
    margin: 0 20px
    padding: 20px
    height: auto
    border: 3px solid white
    border-radius: 2px
    text-align: center

    h1
      margin-bottom: 20px
      font-size: 30px
      font-weight: $font-weight-bold

    & :last-child
      margin-bottom: 0
