//- Buttons

.button
  width: 100%
  margin-bottom: 15px
  padding: 15px
  display: block
  background: black(.2)
  border: 2px solid white(.5)
  border-radius: 3px
  color: white

  &:hover
    background: black(.5)