// Header and Search

header
  position: relative
  z-index: 1

.hero
  display: flex
  align-items: center
  justify-content: center
  background: linear-gradient(30deg, $brand-teal, $brand-blue)
  font-family: $font-proxima-condensed
  text-transform: uppercase
  color: $brand-yellow

  nav
    position: absolute
    top: 0
    right: 15px
    background: black(.4)
    text-align: right

    a
      padding: 15px 20px
      display: inline-block
      color: white
      font-size: 18px
      font-weight: $font-weight-medium

      &:hover
        opacity: .7

  .hero-text
    margin-top: 30px
    position: relative
    text-align: center

  .hero-headline
    background: url('/images/hero-headline.svg') no-repeat center center
    background-size: contain
    text-indent: -9999em

  h2
    display: inline-block
    text-align: center
    font-weight: $font-weight-normal

    span
      font-weight: $font-weight-medium

  .hero-intro
    position: absolute

  .hero-detail
    span
      margin: 0 3px 2px
      position: relative
      top: 2px
      display: inline-block

@media screen and (max-width: $bp-small)

  .hero
    min-height: 210px

    .hero-headline
      width: 300px
      height: 90px
      margin: 0 auto

    .hero-intro
      left: 0
      top: -30px

    h2
      font-size: 16px

      span
        font-size: 22px

@media screen and (min-width: $bp-small + 1)

  .hero

    h2
      font-size: 22px

      span
        font-size: 30px

    .hero-intro
      left: -30px
      top: -30px

      span
        margin-bottom: 5px

@media screen and (min-width: $bp-small + 1) and (max-width: $bp-default)

  .hero
    min-height: 300px

    .hero-headline
      width: 520px
      height: 130px
      margin-bottom: 10px

@media screen and (min-width: $bp-default + 1)

  .hero
    min-height: 370px

    .hero-headline
      width: 772px
      height: 163px
      margin-bottom: 30px
