// Header and Search

.hero
  display: flex
  align-items: center
  background: $gradient-teal
  border-bottom: 12px solid $grey-drk
  text-transform: uppercase
  color: $brand-yellow

  nav
    width: auto
    position: absolute
    top: 45px
    right: 20px
    text-align: right

    a
      padding: 20px 15px 10px
      display: inline-block
      background: black(.3)
      font-size: 16px
      font-weight: $font-weight-medium
      font-family: $font-proxima-condensed
      text-align: center
      color: white
      
      &:not(:last-child)
        border-right: 1px solid white(.5)

      &:hover
        background-color: black(.5)

  .hero-text
    margin: 30px auto 0
    position: relative
    text-align: center
    font-family: $font-proxima-condensed

  .hero-headline
    background: url('/images/hero-headline.svg') no-repeat center center
    background-size: contain
    text-indent: -9999em

  h2
    display: inline-block
    text-align: center
    font-family: $font-proxima-condensed
    font-weight: $font-weight-normal

    span
      font-weight: $font-weight-medium

  .hero-intro
    width: 150px
    position: absolute

    a
      color: inherit

      &:hover
        opacity: .7

  .hero-detail
    width: 100%
    span
      margin: 0 3px 2px
      position: relative
      top: 2px
      display: inline-block

@media screen and (max-width: $bp-small)

  .hero
    min-height: 220px
    height: 200px

    nav
      right: 6px

      a
        padding: 12px 15px 8px

    .hero-headline
      width: 300px
      height: 90px
      margin: 0 auto

    .hero-intro
      left: 10px
      top: -30px

    h2
      font-size: 16px

      span
        font-size: 22px

@media screen and (min-width: $bp-small + 1)

  .hero

    h2
      font-size: 20px

      span
        font-size: 28px

    .hero-intro
      left: -30px
      top: -30px

      span
        margin-bottom: 5px

@media screen and (min-width: $bp-small + 1) and (max-width: $bp-default)

  .hero
    min-height: 300px
    height: 200px

    .hero-headline
      width: 520px
      height: 130px
      margin-bottom: 10px

@media screen and (min-width: $bp-default + 1)

  .hero
    min-height: 370px
    height: 300px

    .hero-headline
      width: 772px
      height: 163px
      margin-bottom: 30px
