.search
  width: 100%
  padding: 6px 20px 4px 0
  position: fixed
  top: 0
  left: 0
  z-index: 10
  background: $grey-drk
  box-shadow: 0 8px 0 black(.2)

  h1
    width: 170px
    position: absolute
    left: 20px
    top: 18px
    font-family: $font-proxima-condensed
    font-size: 18px
    font-weight: $font-weight-bold
    text-transform: uppercase
    color: $brand-yellow

  .search-input
    padding-right: 20px
    padding-left: 35px
    position: relative
    background: url('/images/icon-search.svg') no-repeat 15px center
    background-size: auto 16px

  input
    width: 100%
    padding: 10px
    background: transparent
    border: none
    outline: none
    font-size: 18px
    color: white

    &::-webkit-input-placeholder,
    &:-moz-placeholder,
    &::-moz-placeholder,
    &:-ms-input-placeholder
      color: white
      opacity: .6

  .clear
    width: 13px
    height: @width
    {centerVert}
    right: 0
    background: url(images/icon-close-grey-red.svg) no-repeat 0 0
    background-size: 13px 26px
    border: none
    cursor: pointer

    &:hover
      background-position: 0 -13px

    &:focus
      outline: none

@media screen and (max-width: $bp-small)

  .search

    h1
      display: none

@media screen and (min-width: $bp-small + 1)

  .search
    padding-left: 50%