doctype
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    title Hollywood Age Gap
    meta(name='description', content='The age difference in years between movie love interests.')
    script(src='app.js')
    link(rel='stylesheet', href='/app.css')
    include ./includes/typekit.html

    //- TODO: add Facebook meta info

  body

    //- TODO: add proper GA
    //- include ./includes/ga.html