a.back(href="#") Back
div.container
  h1 Contribute
  p Suggest a movie to include or another improvement in either of the following ways:
  p
    a.button(href="https://twitter.com/lynnandtonic") Tweet at @lynnandtonic
    a.button(href="https://github.com/lynnandtonic/hollywood-age-gap#contribute") Contribute via GitHub
  p Thank you!