a.back(href="#") Back
div.container
  h1 Contribute
  p Suggest a movie to include or another improvement in either of the following ways:
  p.contribute-links
    a.twitter(href="https://twitter.com/lynnandtonic") Tweet at @lynnandtonic
    a.github(href="https://github.com/lynnandtonic/hollywood-age-gap#contribute") Contribute via GitHub
    | Like this site?
    a.coffee(href="https://www.buymeacoffee.com/lynnandtonic") Buy me a coffee
  p Thank you!
