section.search
  h1 #[a(href='#top') Hollywood Age Gap]
  .search-input
    input#search(type="text", name="search", autocomplete="off", autocorrect="off", placeholder="Type a movie / actor / director")
    button.clear(type="reset")
section.hero
  nav
    a.contribute-button(role="button") Contribute
  .hero-text
    h2.hero-intro #[span(style='display:block') #[a(href='https://twitter.com/lynnandtonic') lynnandtonic]] presents
    h1.hero-headline Hollywod Age Gap
    h2.hero-detail The age difference in #[span years] between movie #[span love interests]
